// @import './node_modules/reset-css/reset.css';
* {

  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
  font-size: 25px;

}


body {
  animation: back 10s infinite;

  @keyframes back {
    0% {

      background-color: rgb(86, 90, 89);
    }

    25% {
      background-color: rgb(222, 226, 226);
    }

    50% {
      background-color: rgb(94, 94, 94);
    }

    75% {
      background-color: rgb(16, 18, 16);
    }

    100% {
      background-color: rgb(86, 90, 89);
    }
  }



  .container {

    width: 100%;
    min-height: 100vh;

    // background: linear-gradient(51deg, #6b0dfb, #fec500, #e800ff);
    padding: 10px;

    .todo-app {
      box-shadow: 0px 0px 73px 10px #ffb2b2;
      width: 100%;
      max-width: 540px;
      background: linear-gradient(51deg, #6b0dfb, #fec500, #e800ff);
      margin: 100px auto 20px;
      padding: 40px 30px 70px;
      border-radius: 10px;

      h2 {
        color: #002765;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
          width: 30px;
          margin-left: 10px;
        }
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-;
        background: #edeef0;
        border-radius: 30px;
        padding-left: 20px;
        margin-bottom: 25px;

        input {
          flex: 1;
          border: none;
          outline: none;
          background: transparent;
          padding: 10px;
          font-weight: 14px;
        }

        button {
          border: none;
          outline: none;
          padding: 16px 50px;
          background: #ff5945;
          color: #fff;
          font-size: 16px;
          cursor: pointer;
          border-radius: 40px;
        }


      }


      ul li {

        list-style: none;
        font-size: 25px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;
      }

      ul li::before {
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-image: url(./images/unchecked.png);
        background-size: cover;
        background-position: center;
        top: 12px;
        left: 8px;
      }

      ul li.checked {
        color: #555;
        text-decoration: line-through;
      }

      ul li.checked::before {
        background-image: url(./images/checked.png);
      }

      ul li span {

        position: absolute;
        right: 0px;
        top: 5px;
        width: 40px;
        height: 40px;
        font-size: 22px;
        color: #555;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;

      }

      ul li span:hover {
        background: #edeef0;
      }


    }
  }

  @media screen and (max-width: 504px) {
    .container {
      width: fit-content;
      height: 443vh;


    }
  }
}